<html lang="en">
{{template "header.tmpl.html"}}
<body>
{{template "nav.tmpl.html"}}

<div class="container">
    {{if .Error -}}
        <div class="alert alert-danger" role="alert">
            Something went wrong. {{.Error}}
        </div>
    {{- end}}
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <h5 class="card-header"><i class="fas fa-sign-in-alt"></i> Join the queue here</h5>
                <div class="card-body">
                    <div class="alert alert-danger" role="alert" id="closedNotice">
                        <small><i class="far fa-clock"></i>
                            The queue is currently <b>closed</b>. Please wait for a TA
                            to open it.
                        </small>
                    </div>
                    <form method="post" action="/join">
                        <fieldset id="joinForm">
                            <div class="form-group">
                                <label for="name">Your name</label>
                                <input type="text" class="form-control" id="name" name="name"
                                       placeholder="First name" required>
                                <small id="nameHelp" class="form-text text-muted">The TA will call this name.</small>
                            </div>
                            <div class="form-group">
                                <label for="csid">UBC CS ID</label>
                                <input type="text" class="form-control" id="csid" name="csid"
                                       placeholder="For instance, 'a1b6c'" maxlength="5" required>
                                <small id="emailHelp" class="form-text text-muted">Don't have one? Go <a
                                            href="https://www.cs.ubc.ca/getacct/">here</a>.
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="task">What do you need help with?</label>
                                <input type="text" class="form-control" id="task" name="task"
                                       placeholder="For instance, 'Can't fix NullPointerException'" required>
                                <small id="emailHelp" class="form-text text-muted">Try to be specific: we use this to
                                    match
                                    you
                                    with the right TA for your question.
                                </small>
                            </div>
                            <button type="submit" class="btn btn-primary" id="joinButton">Join the queue! <i
                                        class="fas fa-laugh-beam"></i>
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card bg-light">
                <h5 class="card-header"><i class="fas fa-question-circle"></i> What is this tool for?</h5>
                <div class="card-body">
                    <p class="card-text">Welcome to the <b>CPSC 210 Queue System</b>.</p>
                    <p class="card-text">This tool lets you sign up for TA help during scheduled labs and office hours.
                        Labs in CPSC 210 operate on a first-come, first-served basis, however we will give priority to
                        students who haven't yet received help from a course staff member.</p>
                </div>
            </div>
            <div class="counter">
                <p class="text-center counter-num">{{ .CountHelped }}</p>
                <p class="text-center counter-desc">students helped this term</p>
            </div>
        </div>
    </div>
    {{template "footer.tmpl.html"}}
</div>
<script type="text/javascript">
    function getQueueStatus() {
        let xhr = new XMLHttpRequest();
        const url = "/isqueueopen";
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === xhr.DONE && xhr.status === 200) {
                const button = document.getElementById("joinButton");
                const fieldset = document.getElementById("joinForm");
                const closedNotice = document.getElementById("closedNotice");
                const json = JSON.parse(xhr.responseText);
                const isOpen = (json.open === true);
                if (isOpen) {
                    closedNotice.hidden = true;
                    fieldset.disabled = false;
                } else {
                    closedNotice.hidden = false;
                    fieldset.disabled = true;
                }
            }
        };
        xhr.send();
    }

    getQueueStatus();
    window.setInterval(function () {
        getQueueStatus();
    }, 5000);
</script>
{{template "scripts.tmpl.html"}}
</body>
</html>
