<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <a class="navbar-brand" href="/">CPSC 210 Queue System</a>
      <li>
        <a href="/"><span class="glyphicon glyphicon-log-in"></span> Enter queue</a>
      </li>
      <li>
        <a href="/status"><span class="glyphicon glyphicon-list"></span> Current queue</a>
      </li>
      <li>
        <a href="/ta"><span class="glyphicon glyphicon-tower"></span> TA login</a>
      </li>
    </ul>
  </div>
</nav>
