<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">CPSC 210 Queue System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fas fa-sign-in-alt"></i> Enter queue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/status"><i class="fas fa-list-ol"></i> Your status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ta"><i class="fas fa-user-md"></i> TA Login</a>
                </li>

            </ul>
            <!-- <span class="text-success"><i class="fas fa-check-circle"></i> Queue is open</span> -->
        </div>
    </div>
</nav>