<html>
{{template "header.tmpl.html"}}
<body>
{{template "nav.tmpl.html"}}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card border-danger">
                <h5 class="card-header card-title bg-danger text-white"><i class="fas fa-times-circle"></i> You have not
                    been added
                    to the
                    queue.</h5>
                <div class="card-body">
                    <p>We are sorry, but you have already been helped by a TA for {{.NumTimesJoined}}
                        times over the past 24
                        hours. We kindly ask
                        that you please allow for other
                        students who have not yet received TA assistance to get help as well. Thank you for your
                        understanding.</p>
                    <p>If you still require additional assistance, you can still
                        open a new thread with your question on
                        the <a href="https://cs210discourse.ugrad.cs.ubc.ca">CPSC 210 discussion forum</a>, drop by the
                        lab
                        at a later time, or attend the office hours offered by your instructor.
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{template "footer.tmpl.html"}}
</div>
{{template "scripts.tmpl.html"}}
</body>
</html>
