<html lang="en">
{{template "header.tmpl.html"}}
<body>
{{template "nav.tmpl.html"}}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <br/>
            <div class="card border-warning" id="notwaiting" hidden="hidden">
                <h5 class="card-header bg-warning"><i class="fas fa-exclamation-triangle"></i> You're not in
                    the queue.</h5>
                <p class="card-body">Go to the <a href="/">homepage</a> to join the queue.</p>
            </div>
            <div class="card border-info" id="currentstatus" hidden="hidden">
                <h5 class="card-header bg-info text-white"><i class="fas fa-smile"></i> Cool, you're in the queue!</h5>
                <div class="card-body">
                    <p>Hey <b><span id="csid"></span></b>, thanks for waiting.
                        There are currently <b>
                            <mark id="position"></mark>
                        </b> students
                        before you.
                        Your estimated waiting time is <b>
                            <mark id="waittime"></mark>
                        </b> minutes.
                    </p>
                    <p><a href="/leaveearly">
                            <button type="button" class="btn btn-danger"><i class="fas fa-door-open"></i> Exit the queue
                                now
                            </button>
                        </a></p>
                    <p class="small text-muted">This view refreshes automatically every 5 seconds, no need to
                        reload the page! Do not close this browser window to keep track of your position.</p>
                </div>
            </div>
        </div>
    </div>
    {{template "footer.tmpl.html"}}
</div>

{{template "scripts.tmpl.html"}}
<script type="text/javascript">

    function deleteCookie(name) {
        document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }

    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) === ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) === 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function checkCookie() {
        var username = getCookie("queue-csid");
        if (username !== "") {
            fillPosition();
        } else {
            document.getElementById("notwaiting").hidden = false;
            document.getElementById("currentstatus").hidden = true;
        }
    }

    function fillPosition() {
        var xhr = new XMLHttpRequest();
        var url = "/status_for_id";
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            console.log("Loaded status from server.");
            if (xhr.readyState === xhr.DONE && xhr.status === 200) {
                var json = JSON.parse(xhr.responseText);
                if (json.success === true) {
                    document.getElementById("notwaiting").hidden = true;
                    document.getElementById("currentstatus").hidden = false;
                    document.getElementById("csid").innerText = json.csid;
                    document.getElementById("position").innerText = json.position;
                    document.getElementById("waittime").innerText = json.waittime;
                } else {
                    document.getElementById("notwaiting").hidden = false;
                    document.getElementById("currentstatus").hidden = true;
                    clearInterval();
                    deleteCookie("queue-csid");
                }
            }
        };
        xhr.send();
    }

    checkCookie();
    window.setInterval(function () {
        checkCookie();
    }, 5000);
</script>

</body>
</html>
