<html>
{{template "header.tmpl.html"}}
<body>
{{template "nav.tmpl.html"}}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3><i class="fas fa-user-md"></i> TA admin panel</h3>
            <a class="btn btn-default btn-primary pull-right" href="/ta" role="button"><i class="fas fa-sync-alt"></i> Refresh</a>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">CSid</th>
                    <th scope="col">Name</th>
                    <th scope="col">Task</th>
                    <th scope="col">Joined at</th>
                    <th scope="col">Times helped (past 24 hrs)</th>
                </tr>
                </thead>
                <tbody>
                {{- range .Entries }}
                    <tr>
                        <td>
                            <form action="/served" method="post">
                                <input type="hidden" name="csid" value="{{ .CSid }}">
                                <input type="submit" class="btn btn-primary btn-sm" value="Now Serving"/>
                            </form>
                        </td>
                        <td>{{ .CSid }}</td>
                        <td>{{ .Name }}</td>
                        <td>{{ .TaskInfo }}</td>
                        <td>{{ .JoinedAt | RelativeTime}}</td>
                        <td>{{ .CSid | NumTimesHelped}}</td>
                    </tr>
                {{- end}}
                </tbody>
            </table>
        </div>
        <hr/>
    </div>
    <hr/><!-- row -->
</div>

</body>
</html>
